*{
    margin: 0;
    padding: 0;
}
body {
    background-color: blueviolet;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    position: relative;
}
.content_1, .content_2 {
    margin-bottom: 10px;
}

.first_input, .second_input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}

.copy_btn_1, .copy_btn_2 {
    height: 30px;
    width: 70px;
    border-radius: 5px;
    background-color: aquamarine;
    font-size: 18px;
}
.changeColorBtn {
    width: 280px;
    height: 30px;
    border-radius: 5px;
    background-color: aquamarine;
    font-size: 18px;
}

.tostMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 180px;
    border-radius: 5px;
    background-color: aquamarine;
    color: black;
    font-weight: bold;
}

.tostMessage {
    height: 50px;
    width: 170px;
    background-color: aquamarine;
    font-size: 18px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 20px;
    text-align: center;
    font-weight: bold;
    transition: 1000ms;
}

.tostMessageAnimation_in {
    animation: tost_message_in .5s;
}

.tostMessageAnimation_out {
    animation: tost_message_out .5s;
}

@keyframes tost_message_in {
    from{
        margin-right: -200px;
    }
    to{
        margin-right: 20px;
    }
}

@keyframes tost_message_out {
    from{
        margin-right: 20px;
    }
    to{
        margin-right: -200px;
    }
}